@page
@model RazorPagesApp.Pages.Order.CreateModel
@{
ViewData["Title"] = "Create Order";
}

<h1>Create Order</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Order.UserId" class="control-label"></label>
                <input asp-for="Order.UserId" class="form-control" />
                <span asp-validation-for="Order.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Items" class="control-label"></label>
                <input asp-for="Order.Items" class="form-control" />
                <span asp-validation-for="Order.Items" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
